@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b2x0my');
  src:  url('fonts/icomoon.eot?b2x0my#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b2x0my') format('truetype'),
    url('fonts/icomoon.woff?b2x0my') format('woff'),
    url('fonts/icomoon.svg?b2x0my#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-fiverr:before {
  content: "\e902";
}
.icon-dribbble:before {
  content: "\e903";
}
.icon-github:before {
  content: "\e904";
}
.icon-patreon:before {
  content: "\e905";
}
