<div class="container">
  <!-- begin author -->
  <section class="author" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
    <div class="author__inner">
      <a href="{{site.baseurl}}" class="author__link">
        <img src="{{site.author.image}}" alt="{{site.author.name}}" class="author__img">
      </a>
      <h1 class="author__name">{{site.author.name}}</h1>
      <h2 class="author__job">{{site.author.job}}</h2>
      <p class="author__bio">{{site.author.bio}}</p>
      <div class="author__contact">
        {% include contact-link.html %}
      </div>
    </div>
  </section>
  <!-- end author -->
</div>
