<ul class="contact__list list-reset">
  <li class="contact__item">
    <a href="https://twitter.com/artemsheludko_" class="contact__link" target="_blank" rel="noopener" title="Twitter"><span class="contact__icon icon-twitter"></span></a>
  </li>
  <li class="contact__item">
    <a href="https://instagram.com/artemsheludko_" class="contact__link" target="_blank" rel="noopener" title="Instagram"><span class="contact__icon icon-instagram"></span></a>
  </li>
  <li class="contact__item">
    <a href="https://dribbble.com/artemsheludko" class="contact__link" target="_blank" rel="noopener" title="Dribbble"><span class="contact__icon icon-dribbble"></span></a>
  </li>
  <li class="contact__item">
    <a href="https://github.com/artemsheludko" class="contact__link" target="_blank" rel="noopener" title="Github"><span class="contact__icon icon-github"></span></a>
  </li>
  <!-- <li class="contact__item">
    <a href="https://www.fiverr.com/artem_sheludko" class="contact__link" target="_blank" rel="noopener" title="Fiverr"><span class="contact__icon icon-fiverr"></span></a>
  </li> -->
  <!-- <li class="contact__item">
    <a href="https://www.patreon.com/artemsheludko" class="contact__link" target="_blank" rel="noopener" title="Patreon"><span class="contact__icon icon-patreon"></span></a>
  </li> -->
</ul>
