<!-- begin contact -->
<section class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col col-10 push-1 col-m-12 push-m-0">
        <div class="contact__content">
          <img src="{{site.baseurl}}/img/contact-shape.png" alt="Contact Shape" class="contact-shape">
          <h2 class="contact__title">Let’s make something great together</h2>
          <p class="contact__subtitle">Get in touch with me and send some basic info for a quick quote.</p>
          <h4 class="">Email address</h4>
          <a href="mailto:artemsheludko@tuta.io" class="contact__link custom-link">artemsheludko.tuta.io</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact -->