  <!-- begin header -->
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__content">

          <!-- Main Navigation -->
          <nav class="main-nav">
            <ul class="main-nav__list list-reset">
              <li class="main-nav__item">
                <a href="{{site.url}}#hero" class="main-nav__link">Home</a>
              </li>
              <li class="main-nav__item">
                <a href="{{site.url}}#work" class="main-nav__link">Work</a>
              </li>
              <li class="main-nav__item">
                <a href="{{site.url}}#contact" class="main-nav__link">Contact</a>
              </li>
              <li class="main-nav__item">
                <a href="#inline" class="main-nav__link subscribe" data-lity>Subscribe</a>
              </li>
            </ul>
          </nav>

        </div>

        <!-- Menu Icon -->
        <div class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class="menu-overlay"></div>
      </div>
    </div>
  </header>
  <!-- end header -->
