<!-- begin hero -->
  <section id="hero" class="hero">
    <div class="container">
      <div class="row">
        <div class="col col-10 push-1 col-m-12 push-m-0">
          <img class="logo" src="{{site.baseurl}}/img/{{site.logo}}" alt="Artem Sheludko">
          <div class="hero__text">
            <h1 class="hero__title">Hi, I’m Artem & I’m web developer.</h1>
            <p class="hero__subtitle">I create premium custom websites for creative people and companies that appreciate quality and simplicity.</p>
            <a href="https://artemsheludko.typeform.com/to/BXkcaf" class="brief-btn">Breif Me!</a>
          </div>
          <div class="separator"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- end hero -->