// IMPORT TOOLS
@import 'tools/normalize';
@import 'tools/animate';
@import 'tools/icomoon';

// MAIN STYLES
html, body {
  height: 100%;
  min-height: 100%;
  font-family: 'Questrial', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: calc(0.75em + 1vmin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: white;
}

* {
  box-sizing: border-box;
}

*::selection {
  color: #ffffff;
  background-color: #3af;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background: rgba(0,0,0,0.6);
  z-index: 10;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: all .35s;
  &.show {
    pointer-events: auto;
    filter: none;
    opacity: 1;
  }
}

.canvas {
  width: 100%;
  height: 100%;
  transition: all .4s cubic-bezier(0.565, 1.65, 0.765, 0.88);
  &.is-open {
    transform: translate3d(450px, 0, 0);        
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 80px;
  margin: 0 auto;
  position: relative;
  top: 0;
  z-index: 1;
}

.navigation {
  align-items: center;
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  line-height: 45px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #404040;
  outline: none;
  border: none;
  transition: all .35s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .40);
  cursor: pointer;
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
  }
  &:active {
    transform: scale(0.9);
  }
}

.nav-button, .social-top, footer {
  animation-duration: 1.2s;
  animation-delay: 1.2s;
}

.nav-button a .icon-menu,
.nav-button a .icon-address-book {
  font-size: 27px;
  transition: all .4s;
  opacity: .8;
}

.nav-button a .icon-menu:hover,
.nav-button a .icon-address-book:hover {
  opacity: 1;
}

//.social-top {
//  animation-duration: 1.2s;
//  animation-delay: 1.2s;
//}

.social-top a {
  font-size: 0.8em;
  text-decoration: none;
  margin-right: 10px;
  color: #b4c5d0;
  transition: all .5s;
  &:hover {
    color: #404040;
  }
}

.social-top a:hover {
  opacity: 1;
}

.header {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0, #fff 90%), url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
}

.header h1 {
  font-size: .6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align-last: left;
  color: #81909a;
  margin-top: 10px;
  margin-bottom: 30px;
  animation-duration: 1.2s;
  animation-delay: .3s;
}

.header-subtitle {
  margin: 0;
  padding: 0;
  font-size: 3vw;
  font-weight: 400;
  text-align-last: left;
  line-height: 1.3em;
  animation-duration: 1.2s;
  animation-delay: .6s;
}

.c-gray {
  color: #81909a;
}

.header .top-wrapper {
  display: table-row;
}

.header .top-centered {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

.header .top-text {
  padding-left: 80px;
}

.sidebar {
  position: fixed;
  display: block;
  width: 450px;
  max-width: 650px;
  height: 100%;
  top: 0;
  left: -450px;
  z-index: 10;
  padding: 40px 30px;
  background-color: #fff;
  transition: left 1.5s cubic-bezier(0.545, 0, 0.05, 1);
  overflow-x: auto;
}

.sidebar .menu-close {
  position: absolute;
  color: #fff;
  left: 18px;
  top: 24px;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}

.sidebar .menu-close .icon-cross {
  font-size: 20px;
  padding: 5px;
  margin-right: 5px;
  opacity: .5;
  color: #fafafa;
  padding: 5px;
  transition: all .4s;
}

.sidebar .menu-close .icon-cross:hover {
  opacity: .9;
}

.sidebar-container {
  position: relative;
  display: flex;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.sidebar-container .sidebar-text {
  text-align: center;
}

.sidebar-container .sidebar-name {
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
  color: #404040;
}

.sidebar-container .sidebar-prof {
  font-size: 16px;
  margin-top: 0;
  color: #81909a;
}

.sidebar-form {
  width: 100%;
}

fieldset, legend {
  margin: 0;
  min-width: 0;
  border: 0;
  padding: 0;
}

legend {
  font-size: 14px;
  color: #404040;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.form-item {
  margin-bottom: 5px;
}

.form-item:last-child {
  margin-bottom: 30px;
}

.form-item input, .form-item textarea {
  width: 100%;
  margin-bottom: 10px;
  transition: all .5s ease;
  border: 1px solid #dce4ea;
  outline: 0;
  color: #aeaeae;
}

.form-item input {
  height: 40px;
  text-indent: 15px;
  font-size: 14px;
  color: #404040;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0;
}

.form-item textarea {
  padding: 15px;
  font-size: 14px;
  color: #404040;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  overflow: auto;
  resize: none;
}

.form-item label {
  font-size: 10px;
  text-transform: uppercase;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
  color: #81909a;
}

button.form-btn {
  text-align: center;
  width: 100%;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  padding: 20px;
  color: #fff;
  background: #b4c5d0;
  border: 0;
  border-radius: 0;
  outline: 0;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all .4s;
  &:active {
    transform: translateY(2px);
  }
}

button.form-btn:hover, button.form-btn:focus {
  background: darken(#b4c5d0, 15%);
}

.sidebar-social {
  color: #000;
  margin-bottom: 10px;
}

.sidebar-social a {
  display: inline-block;
  text-decoration: none;
  color: #b4c5d0;
  font-size: 21px;
  padding: 8px;
  opacity: .7;
  transition: all .5s;
}

.sidebar-social a:hover {
  color: #404040;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  box-shadow: 0 4px 25px rgba(132,135,138,0.1);
}

.thankyouBlock {
  display: none;
}

.thankyouBlock p {
  text-align: center;
  padding: 20px;
  margin: 0;
  border: 1px solid #fff;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.3);
}

footer {
  position: absolute;
  padding: 30px 20px;
  bottom: 0;
  left: 0;
  right: 0;
}

footer .copyright {
  font-size: 0.5em;
  text-align: center;
  color: #888;
  line-height: 12px;
}

footer .copyright a {
  color: #888;
}

footer .icon-heart {
  color: #f13b1a;
}

/*==========  Media  ==========*/

@media only screen and (min-width: 1600px) {
  .header {
    .header-subtitle {
      font-size: 50px;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .header {
    .header-subtitle {
      font-size: 4vw;
    }
  }
}

@media only screen and (max-width: 992px) {
  .sidebar {
    width: 400px;
    left: -400px;
  }
  .canvas {
    &.is-open {
      transform: translate3d(400px, 0, 0);        
    }
  }
}

@media only screen and (max-width: 800px) {
  .header {
    padding: 80px 20px 25%;
    .header-title {
      margin-bottom: 20px;
    }
    .header-subtitle {
      font-size: 5.2vw;
    }
    .top-text {
      padding-left: 0;
    }
  }
  .main-nav {
    padding: 20px 20px 0 20px;
  }
  .social-top a {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 480px) {
  .sidebar {
    width: 300px;
    left: -300px;
    padding: 40px 20px;
  }
  .canvas {
    &.is-open {
      transform: translate3d(300px, 0, 0);        
    }
  }
}

@media only screen and (max-height: 380px) {
  footer .copyright {
    display: none;
  }
}

