html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: $black;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.section-title {
  position: relative;
}

.separator {
  position: relative;
  z-index: -2;
  margin: 80px 0;
  height: 1px;
  width: 100%;
  background-color: #eee;

  @media only screen and (max-width: $mobile) {
    margin: 60px 0;
  }
}

.right-shape {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
  min-height: 100%;
}

.round-shape {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 12px solid #2f4c54;
}