.btn {
  display: inline-block;
  padding: 20px 40px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  background-color: $black;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;

  &--buy,
  &--download,
  &--preview {
    font-family: Arvo, serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &--buy {
    border: 1px solid #ff414d;
    background-color: #ff414d;
  }



  &--download {
    border: 1px solid #15c37b;
    background-color: #15c37b;
  }

  &--round {
    border-radius: 50px;
  }

  &--small {
    height: 50px;
    width: 140px;
    padding: 0;
    line-height: 50px;
  }

  &--big {
    width: 100%;
  }

  &:hover,
  &:active,
  &:focus {
    color: #fff;
    outline: 0;
  }

  &:hover {
    transform: translate(0, -5px);
    box-shadow: 0 20px 30px -11px rgba(31,48,65,0.4);
  }

  &--preview {
    color: $black;
    border: 1px solid #dbdada;
    background-color: #fff;
    &:hover,
    &:active,
    &:focus {
      color: #25262B;
    }
  }
}
