//	Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arvo', serif;
  font-weight: 700;
  color: $black;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

small {
  font-size: 10px;
  line-height: 1.2;
}

// Basic Text Style

p {
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 16px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

blockquote {
  padding-left: $base-spacing-unit;
  font-size: 18px;
  font-style: normal;
}

pre {
  overflow: auto;
  padding: 15px;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

hr {
  border: solid #eee;
  border-width: 1px 0 0;
  clear: both;
  margin: 30px 0;
  height: 0;
}