// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 15px;


// ***********************
// Some Useful color Vars
// ***********************

// #5e63f4
$brand-color: #4bb0df;
$black: #25262b;